<%- include('includes/head') %>
<%- include('includes/nav') %>

<div name="marketing" class="container marketing mt-4">

  <!-- Três colunas de texto, abaixo do carousel -->
  <div class="row">
    <div class="col-lg-4">
      <img class="rounded-circle" src="../../public/assets/img/direitoBancario.jpg" alt="Generic placeholder image" width="140" height="140">
      <h2>Direito Bancário </h2>
      <p>Atuamos com processos de revisão de juros e de abusos nos contratos de empréstimo, de financiamento, de cartão de crédito, entre outros serviços que o banco presta indevidamente ao seu consumidor;
      </p>
      <p>Também atuamos com a análise do contrato feito com o banco, para checar a existência de eventual ilegalidade e abusividade;
      </p>
      <p>Além disso, fazemos a defesa de pessoas que estão sofrendo processo de execução ou de busca e apreensão de bens por parte dos bancos.</p>
      <p><a class="btn btn-success" href="#" role="button">Fale comigo »</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
      <h2>Direito do Consumidor</h2>
      <p>Atuamos com processos de reparação ao consumidor por práticas lesivas e abusivas feitas pelas empresas que prestaram indevidamente serviços ou venderam produtos defeituosos.
        <br> <br>
        Além disso, atuamos com a consultoria a fim de emissão de parecer, de análise de documentos ou outros atos para identificar ilegalidades provocadas por empresas contra o consumidor.</p>
      <p><a class="btn btn-success" href="#" role="button">Fale comigo »</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="rounded-circle" src="../../public/assets/img/martelo.jpg" alt="Generic placeholder image" width="140" height="140">
      <h2>Reparação de Danos</h2>
      <p>Atuamos com a reparação de danos patrimoniais causados por terceiros, além da reparação de danos morais.
        <br><br>
        Fazemos isso por meio judicial ou também através de acordos, nos quais, dentro do possível, tentaremos chegar ao melhor interesse dos nossos clientes, de acordo com o que é de direito.</p>
      <p><a class="btn btn-success" href="#" role="button">Fale comigo »</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
</div>
<%- include('includes/footer') %>