<%- include('includes/head') %>
<%- include('includes/nav') %>
<link rel="stylesheet" href="../../../public/assets/css/competencias.css">
<div id="alinhamento">
  <section>
  <p>Defenda-se dos abusos contidos nos contratos de empr&eacute;stimo e financia-mento feitos com os bancos e outras institui&ccedil;&otilde;es financeiras.</p>

  <p>Clique no bot&atilde;o abaixo e d&ecirc; o primeiro passo para ter um plano de defesa contra execu&ccedil;&otilde;es, busca e apreens&atilde;o e contra as irregularidades contidas no seu contrato banc&aacute;rio.</p>
  
  <p><button type="button" class="btn btn-success">Entre em contato</button></p>

  
  <p>O advogado Vin&iacute;cius Ferreira Pina &ndash; OAB/RJ 235.806 &ndash; conta com 4 anos de atua&ccedil;&atilde;o na &aacute;rea de Direito do Consumidor e, especialmente, em contratos banc&aacute;rios.</p>
  
  <p>- Benef&iacute;cios:</p>
  
  <p>1. Contato direto com o whatsapp do advogado &ndash; Todos os clientes possuem contato sem intermedi&aacute;rios com seu advogado (o expediente ocorre entre 10h e 18h);</p>
  
  <p>2. Atendimento online &ndash; O atendimento &eacute; feito eletronicamente, n&atilde;o precisando o deslocamento at&eacute; o estabelecimento do advogado.</p>

</section>

<section>
  <p>Como &eacute; realizado o servi&ccedil;o?</p>

  <p>- Detec&ccedil;&atilde;o de Direitos:<br>
  Nesse procedimento, h&aacute; a an&aacute;lise minuciosa do contrato de empr&eacute;stimo, financiamento ou cart&atilde;o de cr&eacute;dito, a fim de detectar poss&iacute;veis irregularidades contidas nesses contratos. Cada detalhe &eacute; importante para a chance de sucesso.</p>
  
  <p>- Diagn&oacute;stico Jur&iacute;dico:<br>
  Comparamos o seu caso concreto e todos os documentos com as leis, regulamentos e decis&otilde;es judiciais referentes ao tipo de contrato celebrado com o banco. Com esse processo, tra&ccedil;amos as possibilidades jur&iacute;dicas de resolu&ccedil;&atilde;o do caso.</p>
  
  <p>- Mapeamento estrat&eacute;gico:<br>
  Mapeamos os mais diversos passos que podem ser dados para a solu&ccedil;&atilde;o satisfat&oacute;ria dos interesses do cliente e definimos as estrat&eacute;gias a serem adotadas para a sua resolu&ccedil;&atilde;o mais ben&eacute;fica.</p>
  
  <p>- Execu&ccedil;&atilde;o das estrat&eacute;gias:<br>
  Dependendo do caso, aplicaremos a melhor estrat&eacute;gia para a garantia dos interesses do cliente em rela&ccedil;&atilde;o ao seu empr&eacute;stimo/financiamento/cart&atilde;o de cr&eacute;dito, podendo variar desde um acordo extrajudicial at&eacute; o acionamento na justi&ccedil;a.</p>
  
  <p>Como funciona o atendimento?</p>
  
  <p>Primeiramente, voc&ecirc; far&aacute; um breve resumo do caso e entregar&aacute; todos os documentos necess&aacute;rios para a avalia&ccedil;&atilde;o do caso (o contrato de empr&eacute;stimo ou financiamento, os extratos banc&aacute;rios contendo a libera&ccedil;&atilde;o do empr&eacute;stimo e as parcelas j&aacute; pagas, a proposta de empr&eacute;stimo recebida do banco, etc). Depois, iremos agendar uma consulta online para o diagnostico jur&iacute;dico e o mapeamento estrat&eacute;gico.</p>
  
  <p>[Bot&atilde;o: Quero conversar com um advogado]<br>
  </p>
  
</section>

<section>
  <p>A quem se destina o servi&ccedil;o?</p>

  <p>- A todos aqueles que fizeram contratos de cr&eacute;dito banc&aacute;rio (empr&eacute;stimo, financiamento, cart&atilde;o de cr&eacute;dito, etc) e que est&atilde;o em d&uacute;vida se h&aacute; irregularidade nesses contratos;</p>
  
  <p>- A todos aqueles que, j&aacute; devendo, est&atilde;o sendo cobrados ou que est&atilde;o sendo chamados &agrave; justi&ccedil;a para pagar o montante devido. Principalmente &agrave;queles que tem o bem financiado sob busca e apreens&atilde;o.</p>
  
  <p>- A todos aqueles que possuem d&iacute;vidas de consumo e que n&atilde;o t&ecirc;m condi&ccedil;&otilde;es de quit&aacute;-las sem grave preju&iacute;zo de sua vida cotidiana e da situa&ccedil;&atilde;o financeira de sua fam&iacute;lia;</p>
  
  <p>[Destaque: Cuidado com o profissional que ir&aacute; contratar para verificar a situa&ccedil;&atilde;o jur&iacute;dica dos seus contratos banc&aacute;rios. Al&eacute;m de ser uma &aacute;rea que demanda um conhecimento espec&iacute;fico e especializado das normas e poss&iacute;veis caminhos a serem tomados, na justi&ccedil;a, somente h&aacute; uma chance de se discutir o assunto.]</p>
  
  <p>Situa&ccedil;&otilde;es comuns:</p>
  
  <p>- As pessoas, muitas vezes, mesmo quando n&atilde;o est&atilde;o devendo, pagam suas parcelas com o valor muito superior ao que deveriam pagar, porque seu contrato est&aacute; recheado de tarifas indevidas ou porque o banco ou financeira n&atilde;o cumprem adequadamente a legisla&ccedil;&atilde;o. Grande quantidade de contratos banc&aacute;rios possui irregularidades;</p>
  
  <p>- Grande parte das fam&iacute;lias brasileiras est&aacute; numa situa&ccedil;&atilde;o de superendividamento, na qual elas devem mais que a capacidade de manter o seu m&iacute;nimo existencial;</p>
  
  <p>- O refinanciamento das d&iacute;vidas sempre &eacute; a pior solu&ccedil;&atilde;o que a pessoa pode tomar, pois al&eacute;m de manter os custos irregulares, a d&iacute;vida total aumenta muito al&eacute;m daquilo que efetivamente deveria ser pago ao banco ou financeira;</p>
  
  <p>- Muitas pessoas, principalmente idosos aposentados e os pensionistas do INSS ou de outros institutos previdenci&aacute;rios, s&atilde;o v&iacute;timas de fraude e n&atilde;o sabem como se defender. Pior, acabam utilizando o valor indevido, inviabilizando sua defesa.<br>
  </p>
  
  
</section>

<section>
  <p>Quem &eacute; Vin&iacute;cius Pina?</p>

<p>[Foto] Vin&iacute;cius Ferreira Pina (OAB/RJ 235.806) &eacute; advogado especializado em Direito do Consumidor, principalmente Direito Banc&aacute;rio, e Repara&ccedil;&atilde;o por Perdas e Danos.</p>

<p>Formado na Universidade do Estado do Rio de Janeiro (UERJ), atua h&aacute; mais de 4 (quatro) anos na &aacute;rea de Direito do Consumidor, contando as experi&ecirc;ncias que teve na Defensoria P&uacute;blica do Estado do Rio de Janeiro.</p>

<p>[Bot&atilde;o: Quero conversar sobre o meu contrato banc&aacute;rio]</p>

<p>Nossos dados:</p>

<p>O advogado Vin&iacute;cius Pina &eacute; registrado na OAB/RJ sob o n&deg; 235.806. Basta entrar no site da OAB/RJ, https://www.oabrj.org.br/busca-de-inscritos, e pesquisar pelo nome ou n&uacute;mero de registro dado acima.</p>

<p>Quer conhecer nossos processos?</p>

<p>A grande parte de nossos processos s&atilde;o p&uacute;blicos. Basta entrar no site do TJRJ ou o site do PJE e pesquisar processos pelo n&uacute;mero da OAB ou pelo nome do advogado.</p>
</section>
</div>

<%- include('includes/footer') %>