<%- include('includes/head') %>
<link rel="stylesheet" href="../../public/assets/css/cover.css">
<body class="text-white body">
 <%- include('includes/nav') %>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<a href="https://wa.me/5521976138311?text=Adorei%20seu%20artigo" class="whatsapp" target="_blank">
<i style="margin-top:16px" class="fa fa-whatsapp"></i>
</a>
<div class="cover-container d-flex sizes mx-auto flex-column mt-5">

  <main class="container" style="margin-top: 50%; transform: translateY(-50%);">
    <h1>Cuidamos de sua <strong style="height: 500;">saúde financeira</strong> de forma 100% online</h1>
    <p class="lead">Escritório de advocacia especializado em contratos de crédito, empréstimo e financiamento</p>
    <p class="lead">Contamos com 4 anos de atuação na área</p>
    <p class="lead text-right">
      <a href="#" class="btn btn-lg btn-secondary fw-bold border-dark bg-dark">Fale agora com um advogado</a>
    </p>
  </main>

</div>

<%- include('includes/footer') %>

    
 
